.layout {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    height: 100vh;
}

.layout > main {
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
}
